@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=f7959e57-a627-4af5-8b82-b95f4bbf9614&fontids=1069457,1069460,1069463,1069472,1488872,2999030");
@font-face {
  font-family: "Helvetica Neue W31 Bold";
  src: url("Fonts/1069457/5b26f0f2-ca2f-46e4-94bc-8492e5122f1d.eot?#iefix");
  src: url("Fonts/1069457/5b26f0f2-ca2f-46e4-94bc-8492e5122f1d.eot?#iefix") format("eot"), url("Fonts/1069457/d219e0df-7486-460b-92c6-f633d60312c6.woff2") format("woff2"), url("Fonts/1069457/2b149e8b-4167-4121-9dba-2bdb55aeb1ba.woff") format("woff"), url("Fonts/1069457/4c69acf3-07ac-4245-ba04-dafc670f6df8.ttf") format("truetype"); }
@font-face {
  font-family: "HelveticaNeueW31-BoldIt";
  src: url("Fonts/1069460/ea3b58a3-09e7-4b36-ae91-e70b446d0315.eot?#iefix");
  src: url("Fonts/1069460/ea3b58a3-09e7-4b36-ae91-e70b446d0315.eot?#iefix") format("eot"), url("Fonts/1069460/63226831-f02a-467d-89b4-c2cbee1fb1ed.woff2") format("woff2"), url("Fonts/1069460/0fb03304-d0e1-4f11-8205-22a71666df92.woff") format("woff"), url("Fonts/1069460/d2a6661b-93e3-429b-b39d-67b915dcdd95.ttf") format("truetype"); }
@font-face {
  font-family: "HelveticaNeueW31-Italic";
  src: url("Fonts/1069463/f6c0d04c-8458-4388-8831-46d94110f934.eot?#iefix");
  src: url("Fonts/1069463/f6c0d04c-8458-4388-8831-46d94110f934.eot?#iefix") format("eot"), url("Fonts/1069463/ad8c9c59-e3c7-4220-a2a6-e267304d356c.woff2") format("woff2"), url("Fonts/1069463/1a0b05fe-d4de-4c66-ad4c-9a6cb6f593ac.woff") format("woff"), url("Fonts/1069463/cfbdc9a4-6cd6-43c3-b579-0c4a9cbdd50e.ttf") format("truetype"); }
@font-face {
  font-family: "Helvetica Neue W31";
  src: url("Fonts/1069472/badf75de-70f1-4350-adb4-4c4ad8b6382c.eot?#iefix");
  src: url("Fonts/1069472/badf75de-70f1-4350-adb4-4c4ad8b6382c.eot?#iefix") format("eot"), url("Fonts/1069472/c2c0b11f-81e9-4d53-a2c0-101f0d04118b.woff2") format("woff2"), url("Fonts/1069472/214bdd25-4f24-45f3-ae15-4ad14e3d7670.woff") format("woff"), url("Fonts/1069472/f2d4eaae-7174-4ba4-b167-5ff29de2bf6b.ttf") format("truetype"); }
@font-face {
  font-family: "Helvetica Neue LT W01_36 Th It";
  src: url("Fonts/1488872/55740f7d-3bf3-44a5-bfa0-2f1ef436ce72.eot?#iefix");
  src: url("Fonts/1488872/55740f7d-3bf3-44a5-bfa0-2f1ef436ce72.eot?#iefix") format("eot"), url("Fonts/1488872/a9445981-191b-46c7-866c-acb67f9cc1db.woff2") format("woff2"), url("Fonts/1488872/a0e9ae86-436e-483a-8201-6c694e90e9ee.woff") format("woff"), url("Fonts/1488872/d2655153-67dd-48c9-a5b2-cec33c40e333.ttf") format("truetype"); }
@font-face {
  font-family: "Helvetica Neue LT GEOW8225UltL";
  src: url("Fonts/2999030/3448eaf0-9e24-4d2b-8487-34d7bd309cfa.eot?#iefix");
  src: url("Fonts/2999030/3448eaf0-9e24-4d2b-8487-34d7bd309cfa.eot?#iefix") format("eot"), url("Fonts/2999030/5a86b299-64b6-473d-b99b-8d72f63f403e.woff2") format("woff2"), url("Fonts/2999030/02d5cdc8-362d-4641-8ac6-118e53797369.woff") format("woff"), url("Fonts/2999030/10a934d6-36d5-47a7-9827-ecb2475f0a47.ttf") format("truetype"); }
body {
  background: #fff;
  -webkit-overflow-scrolling: touch; }

html {
  overflow-y: hidden; }

html, body {
  overflow-x: hidden;
  height: 100%; }

h1, h2, h3, h4, h5 {
  font-family: "adobe-caslon-pro", serif;
  color: #000; }

p, li, a {
  font-family: "Helvetica Neue W31", sans-serif;
  color: #000; }

iframe {
  max-width: 100%; }
  @media (min-width: 1800px) {
    iframe {
      max-width: 770px; } }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent !important;
  color: #000 !important;
  padding-bottom: 5px;
  border-bottom: 1px solid #000; }

.phantom h1 {
  display: none; }

#video-player {
  background: #000; }

.covervid-wrapper {
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  text-align: center; }
  .covervid-wrapper video {
    width: 100%;
    margin: 0 auto; }

#primary-nav {
  height: 100px;
  background: #fff;
  margin-bottom: 0px; }
  #primary-nav li a {
    color: #000;
    font-family: "adobe-caslon-pro", serif;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px; }
    @media (min-width: 992px) {
      #primary-nav li a {
        color: #000;
        font-family: "adobe-caslon-pro", serif;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px;
        padding-left: 10px;
        padding-right: 10px; } }
    @media (min-width: 1200px) {
      #primary-nav li a {
        font-size: 13px; } }
    @media (min-width: 1800px) {
      #primary-nav li a {
        font-size: 17px; } }
  #primary-nav .navbar-header {
    width: 100%; }
    @media (min-width: 992px) {
      #primary-nav .navbar-header {
        width: inherit; } }
  #primary-nav .navbar-brand {
    font-family: "Helvetica Neue W31", sans-serif;
    font-size: 80px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 0px;
    margin-top: 19px;
    margin-left: 10px; }
    @media (min-width: 1200px) {
      #primary-nav .navbar-brand {
        margin: 0px 40px;
        margin-top: 17px; } }
    @media (min-width: 1800px) {
      #primary-nav .navbar-brand {
        margin: 0px 60px;
        margin-top: 7px; } }
    #primary-nav .navbar-brand img {
      max-width: 220px; }
      @media (min-width: 992px) {
        #primary-nav .navbar-brand img {
          max-width: 280px; } }
      @media (min-width: 1200px) {
        #primary-nav .navbar-brand img {
          max-width: 320px; } }
      @media (min-width: 1800px) {
        #primary-nav .navbar-brand img {
          max-width: 390px; } }
    #primary-nav .navbar-brand span {
      font-size: 11px;
      position: absolute;
      letter-spacing: 0px;
      font-weight: bold;
      margin-left: 5px;
      margin-top: 6px; }
  #primary-nav .navbar-nav {
    margin-top: 35px;
    display: none; }
    @media (min-width: 992px) {
      #primary-nav .navbar-nav {
        display: block; } }

.admin-bar .covervid-wrapper {
  top: 130px !important; }

ul#menu-menu-2 {
  list-style: none;
  padding-left: 0px;
  padding-top: 20px; }
  ul#menu-menu-2 li a {
    font-size: 35px;
    color: #fff;
    font-family: "adobe-caslon-pro", serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px; }

.grid {
  height: 110%;
  margin-bottom: 1440px; }
  @media (min-width: 767px) {
    .grid {
      margin-bottom: 1050px; } }
  @media (min-width: 992px) {
    .grid {
      margin-bottom: 0; } }
  @media (min-width: 1200px) {
    .grid {
      margin-bottom: 0px !important; } }
  @media (min-width: 1800px) {
    .grid {
      margin-bottom: 70px !important; } }

.grid-wrap {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%; }
  @media (min-width: 992px) {
    .grid-wrap {
      max-width: 1360px; } }
  @media (min-width: 1800px) {
    .grid-wrap {
      max-width: 1800px; } }

#project-grid {
  margin: 0 auto;
  height: 100%;
  width: 100% !important;
  margin-top: 15px; }
  @media (min-width: 992px) {
    #project-grid {
      max-width: 780px; } }
  @media (min-width: 1200px) {
    #project-grid {
      max-width: 100%; } }
  #project-grid .title-wrap {
    padding: 40px 0px;
    text-align: center !important; }
    @media (min-width: 992px) {
      #project-grid .title-wrap {
        padding: 70px 20px;
        text-align: left !important; } }
    @media (min-width: 1800px) {
      #project-grid .title-wrap {
        padding: 100px 20px; } }
    #project-grid .title-wrap h1 {
      text-transform: uppercase;
      font-size: 35px; }
      @media (min-width: 992px) {
        #project-grid .title-wrap h1 {
          font-size: 50px; } }
      @media (min-width: 1800px) {
        #project-grid .title-wrap h1 {
          font-size: 60px; } }
  #project-grid .grid-item:nth-child(3) {
    display: none !important; }
    @media (min-width: 1200px) {
      #project-grid .grid-item:nth-child(3) {
        display: block !important; } }

.hidden-last {
  display: block; }
  @media (min-width: 1200px) {
    .hidden-last {
      display: none; } }

.grid-item {
  max-width: 100%;
  height: 250px;
  float: none;
  margin: 10px auto;
  padding: 20px; }
  @media (min-width: 767px) {
    .grid-item {
      width: 350px;
      min-width: 350px; } }
  @media (min-width: 992px) {
    .grid-item {
      float: left;
      margin: 20px;
      padding: 0px;
      width: 30%; } }
  @media (min-width: 1800px) {
    .grid-item {
      width: 31%; } }
  @media (min-width: 992px) {
    .grid-item.wide {
      width: 100%;
      height: 500px;
      max-width: 740px; } }
  @media (min-width: 1200px) {
    .grid-item.wide {
      width: 63%;
      max-width: 100%; } }
  @media (min-width: 1800px) {
    .grid-item.wide {
      width: 64.2%; } }
  @media (min-width: 992px) {
    .grid-item.wide .portfolioBox {
      width: 100%;
      height: 500px;
      background-size: cover !important; } }
  @media (min-width: 992px) {
    .grid-item.tall {
      height: 540px; } }
  @media (min-width: 1200px) {
    .grid-item.tall {
      height: 500px; } }
  @media (min-width: 992px) {
    .grid-item.tall .portfolioBox {
      height: 540px; } }
  @media (min-width: 1200px) {
    .grid-item.tall .portfolioBox {
      height: 500px; } }

/* Box Overlay  */
.portfolioBox {
  width: 100%;
  height: 250px;
  margin: 0px auto 0 auto;
  background-size: cover !important;
  border-radius: 0px;
  overflow: hidden;
  text-align: center;
  position: relative; }

.portfolioContent {
  color: #000; }
  .portfolioContent span {
    font-weight: 900; }
  .portfolioContent .title-tag {
    display: inline-block;
    position: absolute;
    left: 0px;
    margin-top: -20px;
    background: #fff;
    font-size: 12px;
    padding: 3px 5px;
    font-family: "adobe-caslon-pro", serif;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .portfolioContent h5 {
    font-family: "abril_fatfaceregular";
    text-transform: uppercase;
    margin: 8px 0px;
    font-weight: bold; }
  .portfolioContent p {
    font-size: 11px; }

.portfolioOverlay {
  background: #fff;
  text-align: left;
  height: 100%;
  width: 100%;
  opacity: 1;
  padding: 0px 5px;
  position: absolute;
  top: 65%;
  left: 0;
  transition: .4s; }
  @media (min-width: 992px) {
    .portfolioOverlay {
      top: 100%; } }

.portfolioBox:hover .portfolioOverlay {
  opacity: 1;
  top: 65%; }

.single-portfolio .grid-item {
  float: left !important; }
.single-portfolio .small-slider .slick-slide {
  max-width: 500px; }

.small-slider-wrap {
  max-width: 350px;
  margin: 0 auto; }
  @media (min-width: 767px) {
    .small-slider-wrap {
      max-width: 700px; } }
  @media (min-width: 992px) {
    .small-slider-wrap {
      max-width: 1400px; } }
  @media (min-width: 1800px) {
    .small-slider-wrap {
      max-width: 1800px; } }

#client-section {
  margin-top: 20px; }
  #client-section h1 {
    text-transform: uppercase;
    color: #000;
    margin-left: 14px;
    font-size: 25px;
    margin-left: 14px; }
    @media (min-width: 992px) {
      #client-section h1 {
        margin-left: 24px;
        margin-bottom: 20px;
        font-size: 36px; } }
  #client-section .top-row, #client-section .middle-row, #client-section .bottom-row {
    margin: 40px 0px; }
    @media (min-width: 992px) {
      #client-section .top-row, #client-section .middle-row, #client-section .bottom-row {
        margin: 50px 0px; } }
    @media (min-width: 992px) {
      #client-section .top-row .col-md-3, #client-section .middle-row .col-md-3, #client-section .bottom-row .col-md-3 {
        padding: 0px 25px !important;
        border-right: 2px solid #000; } }
    @media (min-width: 992px) {
      #client-section .top-row .col-md-3.last, #client-section .middle-row .col-md-3.last, #client-section .bottom-row .col-md-3.last {
        border-right: none; } }
  #client-section .top-row {
    margin-top: 0px; }
  #client-section ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px; }
    #client-section ul li {
      text-transform: uppercase;
      font-weight: bold;
      color: #000; }

#about {
  margin: 20px auto 20px auto; }
  @media (min-width: 992px) {
    #about {
      margin: 20px 110px 40px 110px; } }
  @media (min-width: 1800px) {
    #about .col-md-6 {
      padding-left: 30px; } }
  #about #s1 {
    border-top: 2px solid #000;
    margin-top: 30px; }
  #about #s3 {
    border-bottom: 2px solid #000; }
  #about .sidebar-content {
    padding-top: 10px;
    max-width: 180px;
    font-family: "Helvetica Neue W31", sans-serif !important; }
    #about .sidebar-content a {
      color: #000; }
    #about .sidebar-content h5 {
      font-family: "Helvetica Neue W31", sans-serif !important;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 13px; }
      #about .sidebar-content h5 span {
        text-transform: none;
        letter-spacing: 0px;
        font-size: 11px; }
  #about .social {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 14px; }
    #about .social li {
      display: inline-block; }
      #about .social li a {
        font-size: 20px;
        color: #000;
        text-align: center;
        float: left;
        width: 36px;
        height: 36px;
        border: 1px solid #000;
        border-radius: 100%;
        margin-right: 7px;
        /*space between*/
        background: #000; }
        #about .social li a i {
          line-height: 34px;
          color: #fff; }

.f-line {
  border-top: 2px solid #000;
  width: 1130px;
  margin: 0 auto; }
  @media (min-width: 992px) {
    .f-line {
      width: 1330px;
      margin-top: 15px; } }
  @media (min-width: 1800px) {
    .f-line {
      width: 1801px; } }

.home .f-line {
  margin-top: 600px; }
  @media (min-width: 992px) {
    .home .f-line {
      margin-top: 0px; } }

.footer {
  margin-top: 15px;
  padding: 20px; }
  @media (min-width: 992px) {
    .footer {
      padding: 0px 75px; } }
  @media (min-width: 1800px) {
    .footer {
      padding: 0px 55px; } }
  .footer a, .footer p {
    color: #000; }
  .footer .col-md-8 p {
    font-size: 11px;
    padding: 0px 10px; }
  .footer .s-border {
    float: left;
    height: 61px;
    background: #fff;
    width: 2px;
    margin-left: -10px;
    margin-top: 6px; }
    @media (min-width: 992px) {
      .footer .s-border {
        background: #000; } }
  @media (min-width: 992px) {
    .footer .col-md-3 {
      padding-left: 10px; } }
  .footer .col-md-3 p {
    font-size: 11px;
    padding: 0px 10px;
    font-weight: bold; }
  .footer .col-md-1 {
    max-width: 0px;
    padding: 0px;
    padding-left: 9px; }

@media (min-width: 992px) {
  .port-wrap {
    padding: 40px 70px 0px; } }
@media (min-width: 1800px) {
  .port-wrap {
    padding: 70px 70px 0px; } }
.port-wrap .info-box {
  max-width: 300px;
  margin: 70px auto 70px auto; }
  .port-wrap .info-box h3 {
    color: #000;
    margin-bottom: 0px;
    text-transform: uppercase; }
  .port-wrap .info-box .w-small {
    font-weight: bold;
    text-transform: uppercase; }
  .port-wrap .info-box p {
    font-size: 12px; }

.slider-wrap {
  padding-bottom: 100px; }
  @media (min-width: 992px) {
    .slider-wrap {
      padding-bottom: 20px; } }
  .slider-wrap .main-slider {
    max-width: 700px;
    margin: 0 auto; }
    .slider-wrap .main-slider .slick-slide {
      max-height: 600px; }
    .slider-wrap .main-slider.thin {
      max-width: 400px; }

.slick-dots {
  text-align: center;
  list-style: none;
  margin-top: -57px;
  position: relative;
  padding-left: 0px; }
  .slick-dots li {
    display: inline-block;
    margin: 0px 5px; }
    .slick-dots li a, .slick-dots li a:hover, .slick-dots li a:active, .slick-dots li a:focus {
      outline: 0 !important;
      text-decoration: none; }

.slick-dots li .dot-wrap .dot:before {
  content: "\25CF";
  color: #979797; }

.slick-dots li.slick-active .dot-wrap .dot:before {
  content: "\25CF";
  color: #fff; }

.slick-dots {
  margin-top: 0px; }

.slick-dots li .dot:before {
  content: "\25CF";
  color: #979797; }

.slick-dots li.slick-active .dot:before {
  content: "\25CF";
  color: #000; }

.slick-arrow {
  z-index: 0;
  position: absolute;
  display: none !important; }
  @media (min-width: 992px) {
    .slick-arrow {
      display: inline !important; } }
  .slick-arrow img {
    max-height: 30px;
    height: 30px; }
  .slick-arrow.prev {
    float: left;
    left: 0px; }
    @media (min-width: 992px) {
      .slick-arrow.prev {
        margin-left: -40px; } }
    @media (min-width: 992px) {
      .slick-arrow.prev.small {
        bottom: 130px; } }
  .slick-arrow.next {
    float: right;
    right: 0px; }
    @media (min-width: 992px) {
      .slick-arrow.next {
        margin-right: -40px; } }
    @media (min-width: 992px) {
      .slick-arrow.next.small {
        bottom: 130px; } }

.small-slider .title-tag {
  margin-top: -20px;
  margin-left: -5px; }
  .small-slider .title-tag ul {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    display: inline-block; }
    .small-slider .title-tag ul li a {
      font-family: "adobe-caslon-pro", serif; }
.small-slider h5 {
  padding-left: 5px;
  text-transform: uppercase; }

/* Icon 1 */
#nav-icon1 {
  width: 50px;
  height: 45px;
  position: relative;
  margin: 25px auto 20px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-right: 0px; }

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 13px; }

#nav-icon1 span:nth-child(3) {
  top: 27px; }

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.mobile-trigger {
  display: inline-block;
  float: right; }
  @media (min-width: 992px) {
    .mobile-trigger {
      display: none; } }

.modal-fullscreen {
  background: transparent;
  top: 100px; }

.modal-fullscreen .modal-content {
  background: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

.modal-backdrop.modal-backdrop-fullscreen {
  background: #000;
  top: 100px; }

.modal-backdrop.modal-backdrop-fullscreen.in {
  opacity: .9;
  filter: alpha(opacity=9); }

/* .modal-fullscreen size: we use Bootstrap media query breakpoints */
.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px; } }
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px; } }
@media (min-width: 1200px) {
  .modal-fullscreen .modal-dialog {
    width: 1170px; } }
.page-id-375 .grid {
  margin-bottom: 2900px;
  padding: 20px; }

.page-id-54 .grid {
  margin-bottom: 6200px; }

/*# sourceMappingURL=styles.css.map */
